<!DOCTYPE html>
<html lang="en">
<head>
  #include("head.vm")
</head>
  
  <body>
  <!-- head-->
  #parse("body_1.vm")
   <div class="container theme-showcase"><!-- /container  -->
	  <form class="navbar-form navbar-left" role="search" action="updateBrokerConfig.do" method="post">
          brokerAddr:
		  <div class="form-group">
            <input type="text" class="form-control" placeholder="brokerAddr" value="$!brokerAddr" name="brokerAddr">
          </div>
		   clusterName:
		  <div class="form-group">
            <input type="text" class="form-control" placeholder="clusterName" value="$!brokerAddr" name="clusterName">
          </div>
		   key:
		  <div class="form-group">
            <input type="text" class="form-control" placeholder="key" value="$!key" name="key">
          </div>
		   value:
		  <div class="form-group">
            <input type="text" class="form-control" placeholder="value" value="$!value" name="value">
          </div>
		  <button type="submit" class="btn btn-default">Submit</button>
      </form>
   <br>
   #parse("msg.vm")
   #include("foot.vm")
      </div>
  </body>
</html>
