<!DOCTYPE html>
<html lang="en">
<head>
  #include("head.vm")
</head>
  
  <body>
  <!-- head-->
  #parse("body_1.vm")
   <div class="container theme-showcase"><!-- /container  -->
	  <form class="navbar-form navbar-left" role="search" action="queryMsgById.do" method="post">
          msgId:
		  <div class="form-group">
            <input type="text" class="form-control" placeholder="msgId" value="$!msgId" name="msgId">
          </div>
		  <button type="submit" class="btn btn-default">Submit</button>
      </form>
   <br>
   #if($result)
		<table class="table table-bordered table-hover">  
              <tbody> 
				#foreach($tr in $result)
					<tr>
						#foreach($td in $tr)
							<td>$td</td>
						#end
					</tr>
				#end
              </tbody>
        </table>
	#end
   #include("foot.vm")
      </div>
  </body>
</html>
