<div class="page-header">
</div>
#if($msg)
    #if($msg == true)
    <div class="alert alert-success">
            <strong>Well done!</strong>
    </div>
    #else
    <div class="alert alert-danger">
            <strong>Oh snap! Failed!</strong>
    </div>
    #end
#end