<div class="page-header">
</div>

#if($msg == true)
<div class="alert alert-success">
        <strong>Well done!</strong>
</div>
#elseif($msg == false)
<div class="alert alert-danger">
        <strong>Oh snap! Failed!</strong>
</div>
#end

